<div class="raph-orderShipping">
  <div class="raph-orderShipping-container">
    <form [formGroup]="shippingInfos" (submit)="onSubmit()">
      <h1>Choisissez le moyen de livraison</h1>
      <div class="raph-orderShipping-container-content">
        <div class="raph-orderShipping-container-content-inner" *ngFor="let item of infosLivraisons, index as i">
            <div>
              <input [id]="i" type="radio" name="shipping" formControlName="shipping" [value]="JSON.stringify(item)" #radio>
              <label [for]="i" class="raph-orderShipping-container-content-inner-label">
                <div class="raph-orderShipping-container-content-inner-label-item1">
                  Mode de livraison: {{item["modeLivraison"]}}
                </div>
                <div class="raph-orderShipping-container-content-inner-label-item2">
                  Livreur: {{item["livreur"]}}
                </div>
                <div class="raph-orderShipping-container-content-inner-label-item3">
                  Durée: {{item["livreDansXJours"]}} jours
                </div>
                <div class="raph-orderShipping-container-content-inner-label-item4">
                  <p *ngIf="item['prix'] === 0">Prix: Gratuit</p>
                  <p *ngIf="item['prix'] !== 0">Prix: {{item["prix"]}}€</p>
                </div>
              </label>
            </div>
        </div>
      </div>
      <div class="raph-orderShipping-container-button">
        <button type="submit">Confirmer</button>
      </div>
    </form>
  </div>
</div>





