<div class="raph-commandvalid">
  <div class="raph-commandvalid-container">

    <div class="raph-commandvalid-container-contenthome">
      <div class="raph-commandvalid-container-contenthome-item">
        <a [routerLink]="['/home']">Retour à l'accueil</a>
      </div>
    </div>

    <div class="raph-commandvalid-container-content1">
      <div class="raph-commandvalid-container-content1-item1">
        <p>La commande a été validée avec succès. Le prix total de la commande est <span>{{totalCosts}}€</span>.</p>
      </div>
    </div>

    <div class="raph-commandvalid-container-content2">
      <div class="raph-commandvalid-container-content2-item1">
        <p>La commande sera livré le <span>{{dayOfShipment}}</span>.</p>
      </div>
    </div>

    <div class="raph-commandvalid-container-content3">
      <div class="raph-commandvalid-container-content3-item1">
        <a href="" #renderPdf target="_blank">
          Afficher le PDF
        </a>
      </div>
    </div>

  </div>
</div>
