<!--<button type="button" (click)="updateCartUser(12)">
  Update
</button>-->

<section class="raph-moncompte-navbar">
  <div class="raph-moncompte-navbar-container">
    <app-navbar (areaToLoad)="area($event)" [userConnected]="userConnected"></app-navbar>
  </div>
</section>

<section class="raph-moncompte-informations" *ngIf="nomZoneACharger == 'mesInformations'">
  <div class="raph-moncompte-informations-container">
    <!--Mettre une variable en input contenant les informations -->
    <app-informations [_informationsUserConnected]="userConnected" ></app-informations>
  </div>
</section>

<section class="raph-moncompte-commandes" *ngIf="nomZoneACharger == 'mesCommandes'">
  <div class="raph-moncompte-commandes-container">

    <!--Mettre une variable en input contenant les commandes -->
    <app-commandes></app-commandes>
  </div>
</section>

