<div class="raph-moncompte-navbar">
  <div class="raph-moncompte-navbar-item1">
    <button type="button" (click)="chargerZoneInformations()">Mon compte</button>
  </div>
  <div class="raph-moncompte-navbar-item2">
    <button type="button" (click)="chargerZoneCommande()">Mes commandes</button>
  </div>

</div>









