<div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/catTel.jfif" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h3>Téléphones</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/images/catAudio.jfif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/catGaming.jfif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/catOrdi.jfif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/catPhoto.jfif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/catTv.jfif" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Précédent</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Suivant</span>
  </button>
</div>
