<nav class="raph-products-aside" id="product-aside-nav">

  <ul class="raph-products-aside-list" id="product-aside-list">

    <!-- Tri !-->
    <li class="raph-products-aside-list-item1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#first-item-collapse" aria-expanded="true">
        Tri <i class="bi bi-arrow-down-circle"></i>
      </button>
      <div class="raph-products-aside-list-item1-content" id="first-item-collapse">

        <ul class="raph-products-aside-list-item1-content-list btn-toggle-nav">
          <li>
            <button type="button" (click)="showProductsAsc()">
              Prix croissant <i class="bi bi-graph-down-arrow"></i>
            </button>
          </li>

          <li>
            <button type="button" (click)="showProductsDesc()">
              Prix décroissant <i class="bi bi-graph-up-arrow"></i>
            </button>
          </li>
        </ul>
      </div>
    </li>

    <!-- Categories !-->
    <li class="raph-products-aside-list-item2">
      <button type="button" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#second-item-collapse" aria-expanded="false">
        Categories <i class="bi bi-arrow-down-circle"></i>
      </button>
      <div class="raph-products-aside-list-item2-content" id="second-item-collapse">
        <ul class="raph-products-aside-list-item2-content-list btn-toggle-nav">
          <li>
            <button type="button" (click)="showProducts()">
              Par défaut
            </button>
          </li>
          <li>
            <div *ngFor="let categorie of categories">
              <button type="button" (click)="showProductsCat(categorie)">
                {{categorie}}
              </button>
              <br>
            </div>
          </li>
        </ul>
      </div>
    </li>

    <!-- Price range !-->
    <li class="raph-products-aside-list-item3">
      <button type="button" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#third-item-collapse" aria-expanded="false">
        Prix compris entre <i class="bi bi-arrow-down-circle"></i>
      </button>
      <div class="raph-products-aside-list-item3-content" id="third-item-collapse">
        <div class="raph-products-aside-list-item3-content-inputGroupPrix">
          <div class="raph-products-aside-list-item3-content-inputGroupPrix-min">
            <label for="prixMin">Min:</label>
            <input type="text" id="prixMin" #prixMin value=""><span>€</span>
          </div>
          <div class="raph-products-aside-list-item3-content-inputGroupPrix-max">
            <label for="prixMax">Max: </label>
            <input type="text" id="prixMax" #prixMax value=""><span>€</span>
          </div>
          <button class="reinitialiser" type="button" (click)="showProducts()">
            Réinitialiser
          </button>
          <button class="afficher" type="button" (click)="showProductsRange(Number(prixMin.value), Number(prixMax.value))">
            Afficher
          </button>
        </div>
      </div>
    </li>
  </ul>
</nav>


