<section class="top">
  <div class="raph-home">
    <div class="raph-home-top">
      <div class="raph-home-top-gradient">
        <div class="raph-home-top-gradient-container">
          <div class="raph-home-top-gradient-container-content">
            <h1>Bienvenue sur RAPH-INFO</h1>
            <p>La plateforme e-commerce qui se soucie de ses utilisateurs</p>
            <p>Alliance de qualité et de fiabilité</p>
            <p>Votre destination incontournable pour des achats en ligne exceptionnels</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div>
  <app-composant-pdf-test class="displayNone" [_donneesSon]="donneesFa"></app-composant-pdf-test>
</div>


<!--
<div class="container">
  <a href=""  target="_blank" #testRender>
    Afficher le PDF
  </a>
</div>-->



<!--
<section class="raph-home-hero">
  <div class="raph-home-hero">
    <div class="raph-home-hero-container">
      <div class="raph-home-hero-container-row1">
        <div class="raph-home-hero-container-row1-content">
          <h3>Voici les catégories de produits que nous vendons</h3>
        </div>
      </div>
      <div class="raph-home-hero-container-row2">
        <div class="raph-home-hero-container-row2-carousel">
          <app-hero-partial></app-hero-partial>
        </div>
      </div>
    </div>
  </div>

</section>
-->
<!--
<h1>Accessibility Example</h1>
<label>
  Enter an example progress value
  <input type="number" min="0" max="100"
         [value]="progress" (input)="setProgress($event)">
</label>

<app-progress-bar [value]="progress" aria-label="Test progress bar"></app-progress-bar>

-->
