<section #topPage>
  <div class="raph-aproduct">
    <div class="raph-aproduct-container">

      <!-- Go back to products -->
      <div class="raph-aproduct-container-contenthome">
        <div class="raph-aproduct-container-contenthome-item">
          <a [routerLink]="['/listeProduits']">Retour à la liste des produits</a>
        </div>
      </div>

      <!-- Product Infos -->
      <div class="raph-aproduct-container-productContent">
        <div class="productImage">
          <img  src="/assets/images/{{trimProductName(product?.productName)}}.jpg">
        </div>
        <div class="productInfos">
          <div class="productInfos-content">
            <h1 style="margin-top: 15px">{{product?.productName}}</h1>
            <p>{{product?.productDescription}}</p>
            <h2 style="margin-bottom: 15px">Prix: {{product?.productPrice}}€</h2>
            <button (click)="addProductToCart(product?.productId)" class="btn btn-primary" >Ajouter au panier</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
