<section class="raph-cart">
  <div class="raph-cart">
    <div class="raph-cart-container">
      <h1 *ngIf="!cartEmpty && cartItemsLength > 0">Voici les éléments de votre panier</h1>
      <div class="cartEmpty">
        <h1 *ngIf="cartEmpty || cartItemsLength == 0">Votre panier est vide</h1>
      </div>
      <div class="raph-cart-container-content">
        <div class="raph-cart-container-content-middle">
        <!-- presentation produits dans le panier -->

          <app-product-items-cart [_isCartEmpty] = "cartEmpty" [_items]="cartItems" [_itemsLength]="cartItemsLength" (newCartItems)="refreshPriceAndQuantity($event)" (newCartItemsDeleted)="deleteProductFromCart($event)"></app-product-items-cart>

        </div>
        <!-- presentation infos du panier -->
        <div class="raph-cart-container-content-right" *ngIf="!cartEmpty && cartItemsLength > 0">
          <div class="raph-cart-container-content-right-flexcontainer">
            <div class="raph-cart-container-content-right-flexcontainer-item1">
              <!-- prix et qte -->
              <div class="raph-cart-container-content-right-flexcontainer-item1-text">
                <div class="cartInfos">
                  <h4>Prix total du panier: {{totalPrice}}€</h4>
                  <h4>Nombre d'articles dans le panier: {{totalQuantity}}</h4>
                </div>
              </div>
            </div>
            <!--
            <div class="raph-cart-container-content-right-flexcontainer-item2">
             <h1>{{todayDate}}</h1>
            </div>
            -->
              <!-- bouton pour valider la commande -->
            <div class="raph-cart-container-content-right-flexcontainer-item2">
              <a [routerLink]="['/commande', userConnectedId]" [ngClass]="{ 'active': userConnected, 'disabled': !userConnected}">
                Valider la commande <i class="bi bi-send-check"></i>
              </a>
            </div>
            <div *ngIf="!userConnected" class="raph-cart-container-content-right-flexcontainer-item3">
              <p>Vous devez être connecté pour valider la commande</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>



