<div id="testPdf" #testPdf>
<table>
  <thead>
  <tr>
    <td>Id</td>
    <td>Id</td>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td style="background-color: red">{{_donneesSon}}</td>
      <td style="background-color: red">{{_donneesSon}}</td>
    </tr>
  </tbody>
</table>
</div>
