<div class="raph-gestionPaiment">
  <div class="raph-gestionPaiment-container">
    <h1>Prix total de la commande: {{totalCosts}}€.</h1>
    <h2>Choissisez votre moyen de paiment.</h2>
    <div class="raph-gestionPaiment-container-content">

      <div class="raph-gestionPaiment-container-content-item1">
        <p>Vous souhaitez payer par carte bancaire?</p>
        <button type="button" (click)="showCbPaiement()">Payer par carte bancaire <i class="bi bi-credit-card"></i></button>
      </div>

      <div class="raph-gestionPaiment-container-content-item2">
        <div class="raph-gestionPaiment-container-content-item2-content" [style]="cbStyle">
          <div>
            <form (submit)="validPayment()">
              <div class="nom">
                <label for="name">Nom</label>
                <input type="text" id="name" class="form-control">
              </div>
              <p>Numéro de votre carte</p>
              <div class="input-group mb-3">
                <input (change)="lengthCard(String(cardValue1.value))" [ngClass]="invalidInput" #cardValue1 type="text" class="form-control" placeholder="0000" aria-label="0000">
                <span class="input-group-text">-</span>
                <input (change)="lengthCard(String(cardValue2.value))" [ngClass]="invalidInput" #cardValue2 type="text" class="form-control" placeholder="0000" aria-label="0000">
                <span class="input-group-text">-</span>
                <input (change)="lengthCard(String(cardValue3.value))" [ngClass]="invalidInput" #cardValue3 type="text" class="form-control" placeholder="0000" aria-label="0000">
                <span class="input-group-text">-</span>
                <input (change)="lengthCard(String(cardValue4.value))" [ngClass]="invalidInput" #cardValue4 type="text" class="form-control" placeholder="0000" aria-label="0000">
              </div>
              <div class="dateEtCode">
                <div class="dateEtCode-content">
                  <div class="dateEtCode-content-item1">
                    <p>Date d'expiration</p>
                    <div class="input-group">
                      <input (change)="checkDateValue(monthValue.value)" [ngClass]="invalidInput" type="text" class="form-control" placeholder="00" aria-label="00" #monthValue>
                      <span class="input-group-text">/</span>
                      <input (change)="checkDateValue(yearValue.value)" [ngClass]="invalidInput" type="text" class="form-control" placeholder="00" aria-label="00" #yearValue>
                    </div>
                  </div>
                  <div class="dateEtCode-content-item2">
                    <div class="input-group">
                      <label for="code">Code CVC</label>
                      <input (change)="checkCvcValue(cvc.value)" [ngClass]="invalidInput" type="text" class="form-control" id="code" #cvc>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-button">
                <button type="submit" #submitButton>Payer la commande</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="raph-gestionPaiment-container-content-item3">
        <p>Vous souhaitez payer avec paypal?</p>
        <button type="button" (click)="showPaypalPaiement()">Payer avec paypal <i class="bi bi-paypal"></i></button>
      </div>
      <div class="raph-gestionPaiment-container-content-item4">
        <div class="raph-gestionPaiment-container-content-item4-content" [style]="paypalStyle">
          <div>
            <form (submit)="validPayment()">
              <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Adresse e-mail</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Mot de passe</label>
              </div>
              <div class="form-button">
                <button type="submit">Payer la commande</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
