<section class="raph-products">
  <div class="raph-products">
    <div class="raph-products-top">
      <div class="raph-products-top-container">
        <div class="raph-products-top-row">
          <!-- Aside !-->
          <div class="raph-products-top-content-left">
            <div class="raph-products-top-content-inner">

              <aside class="raph-products-top-content-left-menu">

                <app-aside-menu-products-page (newItemEvent)="refreshProducts($event)" ></app-aside-menu-products-page>

              </aside>
            </div>
          </div>

          <!-- Products !-->
          <div class="raph-products-top-content-middle">
            <div class="raph-products-top-content-inner">
              <div class="raph-products-top-content-middle-container">

                <h1 *ngIf="productsLength == 0">Aucun produit correspond à votre recherche</h1>

                <div class="raph-products-top-content-middle-row" *ngFor="let product of products">
                  <!-- Product Image !-->
                  <div class="raph-products-top-content-middle-content-left">
                    <div class="raph-products-top-content-middle-content-inner">
                      <a [routerLink]="['/product', product.productId]" >
                        <img src="/assets/images/{{trimProductName(product.productName)}}.jpg" alt="{{product.productName.trim()}} image">
                      </a>
                    </div>
                  </div>

                  <div class="raph-products-top-content-middle-content-middle">

                      <!-- Product Infos !-->
                      <div class="raph-products-top-content-middle-content-middle-inner-product">
                        <a>
                          <h4>
                            <a [routerLink]="['/product', product.productId]" >
                              {{product.productName}}
                            </a>
                          </h4>
                        </a>
                        <p>{{product.productCategory}}</p>
                        <p class="productPrice">{{product.productPrice}}€</p>
                      </div>
                      <!-- Add to cart !-->
                      <div class="raph-products-top-content-middle-content-middle-inner-addCart">
                        <button type="button" (click)="addProductToCart(product.productId)"> Ajouter au panier
                        </button>
                      </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
