<div class="ecommerce-wrapper">
  <!-- Begin Header -->
  <header class="ecommerce-header">
    <app-header-shared></app-header-shared>
  </header>
  <!-- End Header -->
  <!-- Begin Main -->
  <main class="ecommerce-main">
    <div class="ecommerce-main-page">
      <router-outlet></router-outlet>
    </div>
  </main>
  <!-- End Main -->
  <!-- Begin Footer -->
  <footer class="ecommerce-footer">
    <app-footer-shared></app-footer-shared>
  </footer>
  <!-- End Footer -->
</div>
