<div raph-footer>
  <div class="raph-footer-top">
    <div class="raph-footer-top-container">
      <div class="raph-footer-top-row">
        <div class="raph-footer-top-content-left">
          <div class="raph-footer-top-content-left-item1">
            <div class="title-separator">
              <h3>Nous contacter</h3>
              <hr>
            </div>
          </div>
          <div class="raph-footer-top-content-left-item2">
            <h3>Vous avez des questions ou vous avez besoin d'informations?</h3>
            <p>Vous pouvez nous contacter par email ou par téléphone</p>
            <p><i class="bi bi-envelope"></i> raphael.sivolella@cgi.com</p>
            <p><i class="bi bi-telephone"></i> 06 85 78 95 01</p>
            <img style="text-align: center; max-width: 150px; max-height: 120px" src="/assets/images/RAPH-INFO-LOGO.png">
          </div>
        </div>

        <div class="raph-footer-top-content-middle">
          <div class="title-separator">
            <h3>Dans le cadre d'un projet interne pour</h3>
            <hr>
          </div>
          <img style="text-align: center; max-width: 150px; max-height: 150px; margin-top: 30px" src="/assets/images/logocgi.png">
        </div>

        <div class="raph-footer-top-content-right">
          <div class="title-separator">
            <h3>Nos réseaux</h3>
            <hr>
          </div>
          <div style="padding: 45px">
            <p><button style="margin-bottom: 25px" class="btn btn-primary" (click)="alertNew()"><i class="bi bi-twitter"></i> Notre compte Twitter</button></p>
            <p><button style="margin-bottom: 25px" class="btn btn-primary" (click)="alertNew()"><i class="bi bi-facebook"></i> Notre compte Facebook</button></p>
            <p><button style="margin-bottom: 25px" class="btn btn-primary" (click)="alertNew()"><i class="bi bi-linkedin"></i> Notre compte LinkedIn</button></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
