.raph-aproduct {
  margin-top: 30px;
  &-container {
    @extend .container;
    &-contenthome {
      @extend .row;
      margin-bottom: 30px;
      &-item {
        @extend .col;
        a {
          color: black;
          padding: 0.5em;
          text-decoration: none;
          border: 2px gray groove;
        }
      }
    }
    $productInfosHeight: 400px;
    &-productContent{
      @extend .row;
      .productImage {
        height: $productInfosHeight;
        @extend .col-xl-6, .col-lg-6, .col-md-6, .col-sm-12, .col-12;
        img {
          height: calc($productInfosHeight * 100);
          width: 80%;
        }
      }
      .productInfos {
        @extend .col-xl-6, .col-lg-6, .col-md-6, .col-sm-12, .col-12;
        &-content {
          @extend .d-flex, .flex-column, .align-items-center;
          padding: 30px;
          background-color: white;
          height: $productInfosHeight;
        }
      }
    }
  }
}

