.raph-products-aside {
  @extend .d-flex, .container-fluid, .h-100, .w-100;

  &-list {
    @extend .list-unstyled, .ps-0;
    &-item1, &-item2, &-item3 {
      button {

        text-decoration: underline $primary;
        font-family: "Trebuchet MS";
        font-size: 20px;
      }
      @extend .mb-1;
      &-content {
        @extend .collapse;
        &-list {
          @extend .list-unstyled;
          button {
            @extend .btn, .btn-link;
            text-decoration: none;
            font-family: "Trebuchet MS";
            color: black;
            font-size: 18px;
          }

          //faire du flex sur les boutons et input pour les centrer
          //faire des sort et pas dappels à l api pour le price range
        }
        &-inputGroupPrix {
          @extend .input-group, .mb-3, .d-flex, .flex-column, .justify-content-center;
          span {
            @extend .ms-1;
          }
          .reinitialiser {
            @extend .btn, .btn-secondary, .w-50, .m-auto;
            font-size: 12px;
          }
          &-min, &-max {
            @extend .d-flex, .justify-content-center, .align-items-center, .mb-2;
          }
          label {

          }
          input {
            @extend .form-control, .ms-1;
            width: 75px;
          }
          .afficher {
            @extend .btn, .btn-primary, .mt-2, .w-50, .m-auto;
          }
        }
      }
    }
    &-item3 {
      button {
        text-align: start;
      }
    }
  }
}

