.raph-cart {
  min-height: 1014px;
  &-container {
    @extend .container, .pt-3;
    min-height: 1014px;
    > h1 {
      color: black;
      text-align: center;
      margin-bottom: 15px;
    }
    .cartEmpty {
      @extend .d-flex, .justify-content-center, .align-items-center;
      h1 {
        color: black;
      }
    }
    &-content {
      @extend .row;
      &-middle {
        @extend .col-12, .col-sm-12, .col-md-12, .col-lg-8, .col-xl-8, .col-xxl-8;
      }
      &-right {
        @extend .col-12, .col-sm-12, .col-md-12, .col-lg-4, .col-xl-4, .col-xxl-4;
        &-flexcontainer {
          padding: 10px;
          margin-bottom: 35px;
          @extend .d-flex, .flex-column, .justify-content-evenly, .align-items-center;
          height: 250px;
          border: 4px solid black;
          &-item1 {
            &-text {
              .cartInfos {
                h4 {
                  color: #212529;
                  font-size: 20px;
                  font-family: "Trebuchet MS", cursive;
                }
              }
            }
            button {
              @extend .w-100;
            }
          }
          &-item2 {
            .active {
              color: black;
              padding: 0.5em;
              text-decoration: none;
              border: 3px solid
            }
            .disabled {
              pointer-events: none;
              cursor: default;
              text-decoration: none;
              color: black;
              opacity: .2
            }
            //css dynamique dans le typescript
          }
          &-item3 {
            p {
              font-size: 12px;
              margin: auto;
              font-weight: bold;

            }
          }
        }
      }
    }
  }
}
