.raph-home-carrousel {
  &-container {
    @extend .container, .mt-5;
    &-row1 {
      @extend .row, .justify-content-center;
      &-content {
        @extend .col-6;
        p {
          font-size: 25px;
          font-family: 'Lobster', cursive;
          color: $yellow-600;
        }
      }
    }
    &-row2 {
      @extend .row;
      &-content {
        @extend .col-12;
      }
    }
  }
}

