.raph-commandvalid {
  @extend .pt-5, .bg-light;
  min-height: 1014px;
  &-container {
    @extend .container;
    &-contenthome {
      @extend .row, .mb-3;
      &-item {
        @extend .col;
        a {
          color: black;
          padding: 0.5em;
          text-decoration: none;
          border: 2px gray groove;
        }
      }
    }
    &-content1 {
      @extend .row, .mt-5, .mb-3, .d-flex, .justify-content-center;
      &-item1 {
        @extend .col-12;
        span {
          font-weight: bold;
        }
      }
    }
    &-content2 {
      @extend .row, .mb-3;
      &-item1 {
        @extend .col-4;
        span {
          font-weight: bold;
        }
      }
    }
    &-content3 {
      @extend .row, .mb-3;
      &-item1 {
        @extend .col-4;
        margin: auto;
        a {
          color: green;
          padding: 0.5em;
          text-decoration: none;
          border: 3px solid
        }
      }
    }
  }
}
