.raph-footer {
  &-top {
    background-color: #cacace;

    padding-top: 30px;
    padding-bottom: 30px;
    &-container {
      @extend .container;
    }
    &-row {
      @extend .row
    }
    &-content {
      &-left {
        text-align: center;
        @extend .col-12, .col-sm-12, .col-md-12, .col-lg-4, .col-xl-4, .col-xxl-4;

        &-item1 {
          .title-separator {
            margin-bottom: 30px;
          }
        }
        &-item2 {

        }
      }


      &-middle {
        text-align: center;
        @extend .col-12, .col-sm-12, .col-md-12, .col-lg-4, .col-xl-4, .col-xxl-4;
      }
      &-right {
        text-align: center;
        @extend .col-12, .col-sm-12, .col-md-12, .col-lg-4, .col-xl-4, .col-xxl-4;
      }

    }

  }

}
