.raph-gestionPaiment {
  @extend .mt-5;
  &-container {
    background-color: white;
    padding: 35px;
    @extend .container;
    h1, h2 {
      text-align: center
    }
    &-content {
      @extend .row;
      &-item1 {
        @extend .col-12, .mt-5, .d-flex, .justify-content-center, .flex-column, .align-items-center;
        button {
          @extend .btn, .btn-dark
        }
      }
      &-item2 {
        @extend .col-12, .d-flex, .mt-2, .justify-content-center;
        &-content {
          display: none;
          form {
            @extend .mt-3;
            border: black 3px solid;
            padding: 15px;
            .nom {
              text-align:center;
              @extend .mb-3;
              label {
                @extend .mb-2;
              }
              input {
                margin: auto;
                width: 250px;
              }
            }
            .dateEtCode {
              @extend .container;
              &-content {
                  @extend .row, .justify-content-center, .gx-5;
                &-item1 {
                  @extend .col-5;
                  p {
                    margin-bottom: 5px;
                  }
                  .input-group {
                    input {
                      width: 35px;
                    }
                  }
                }
                &-item2 {
                  @extend .col-3;
                  .input-group {
                    label {
                      @extend .mb-2;
                    }
                    input {
                      height: 34px;
                    }
                  }
                }
              }
            }
            .form-button {
              text-align: center;
              @extend .mt-4;
              button {
                @extend .btn, .btn-dark;
              }
            }
            p {
              text-align: center;
            }
            .input-group {
              input {
                width: 100px;
              }
            }
          }
        }
      }
      &-item3 {
        @extend .col-12, .mt-5, .d-flex, .justify-content-center, .flex-column, .align-items-center;
        button {
          @extend .btn, .btn-dark
        }
      }
      &-item4 {
        @extend .col-12, .d-flex, .mt-2, .justify-content-center;
        &-content {
          display: none;
          form {
            @extend .mt-3;
            border: black 3px solid;
            padding: 25px;
            > .form-floating {
              @extend .mb-4;
            }
            .form-button {
              text-align: center;
              @extend .mt-2;
              button {
                @extend .btn, .btn-dark;
              }
            }
          }
        }
      }
    }
  }
}
