.raph-navbar {
  @extend .navbar, .navbar-expand-lg;
  background-color: #fff;
  &-toggler {
    @extend .navbar-toggler;
    &-icon {
      @extend .navbar-toggler-icon;
    }
  }
  &-container {
    @extend .container
  }
  &-brand {
    text-align: center;
    img {
      padding-left: 25px;
      max-width: 350px;
      max-height: 90px;
      width: 100%;
      height: 100%;
    }
  }
  &-collapse {

    @extend .navbar-collapse;
      &-form {
        padding-right: 15px;
        padding-top: 5px;
        @extend .d-flex;
        width: 350px;
        input {
          @extend .form-control, .w-100;
          margin-right: 15px;

      }
        button {
          @extend .btn, .btn-outline-success;
          width: 40px;
        }
    }
  }
  &-nav {
    &-right {
      @extend .navbar-nav, .mb-2, .mb-lg-0, .ms-auto;
      font-weight: 400;
      a {
        color: #292929;
      }
      .nav-link {
        border-bottom: transparent 3px solid;
        .cartQuantity {
          color: red;
        }
      }
      .nav-link.active, .nav-link:hover, .nav-link:focus {
        border-bottom: $primary 3px solid;
      }
    }
  }


}
