.displayNone {
  display: none;
}

.raph-home {
  &-top {
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
    height: 80vh;
    &-gradient {
      @extend .h-100;
      background: linear-gradient(
          45deg,
          rgba(204, 211, 211, 0.6),
          rgba(189, 189, 194, 0.6) 100%
      );
      &-container {
        @extend .d-flex, .align-items-center, .justify-content-center, .h-100;
        &-content {
          h1 {
            font-size: 70px;
            text-align: center;
            color: $gray-800;
          }
          p {
            text-align: center;
            font-size: 25px;

            font-family: Verdana;
          }
        }
      }
    }

  }

  &-hero {
    @extend .mt-5;
    position: relative;
    &-container {
      @extend .container;
      &-row1 {
        @extend .row;
        &-content {
          @extend .col-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12, .col-xxl-12, .d-flex, .justify-content-center, .align-items-center;
          h3 {
            font-family: "Trebuchet MS", cursive;
            color: black;
          }
        }
      }
      &-row2 {
        @extend .row;
        &-carousel {
          @extend .col-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12, .col-xxl-12, .mt-5;
          img {
            @extend .img-fluid;
            background-color: transparent;
            width: 400px;
            height: 800px;
            object-fit: fill;
          }
        }
      }
    }
  }
}
