.raph-orderShipping {
  padding-top: 25px;
  &-container {
    @extend .container;
    h1 {
      @extend .ms-2;
      text-align: center;
    }
    &-button {
      text-align: center;
      margin-top: 15px;
    }
    button {
      @extend .btn, .btn-primary, .mt-2;
    }
    &-content {
    @extend .row;

      &-inner {
        @extend .w-100, .col-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12, .col-xxl-12;
        > div {
          @extend .d-flex, .bg-light;
          border-bottom: 3px solid grey;
          margin-top: 30px;
          padding: 50px;
        }
        &-label {
          @extend .w-100, .d-flex, .justify-content-between, .align-items-center, .mb-2;
          margin-bottom: 0 !important;
          margin-left: 15px;

          &-item1 {
            @extend .ms-2;
          }
          &-item4 {
            p {
              margin: auto;
            }
          }
        }
      }
    }

  }
}
