.raph-moncompte {
  &-navbar {
    &-container {
      @extend .container, .mt-3, .pb-3;
      border-bottom: 6px solid black;
    }
  }
  &-informations, &-commandes {
    &-container {
      @extend .container, .pt-1;
      border-right: 6px solid black;
      border-bottom: 6px solid black;
      border-left: 6px solid black;
    }
  }
  &-commandes {
    @extend .mb-5;
  }
}
