.raph-commandes-container-content {
  @extend .row, .bg-light;
  &-item1 {
    @extend .col-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12, .col-xxl-12;
    padding: 35px;
    button {
      @extend .btn, .btn-primary;
    }
    .contenucommande {
      @extend .container;
      padding-top: 35px;
      padding-left: 10px;
      padding-bottom: 30px;
      &-content {
        padding: 15px;
        @extend .row;
        &-image {
          @extend .col-12, .col-sm-12, .col-md-12, .col-lg-5, .col-xl-5, .col-xxl-5;
          padding-left: 0 !important;
        }
        &-info {
          @extend .col-12, .col-sm-12, .col-md-12, .col-lg-7, .col-xl-7, .col-xxl-7, .d-flex, .flex-column, .justify-content-center, .align-items-start;
          padding: 15px;
        }
      }
    }
  }
  hr {
    background-color: black;
  }
}

