.raph-moncompte-informations-container-content {
  @extend .row, .bg-light;
  hr {
    background-color: black;
  }
  &-item1 {
    @extend .col-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12, .col-xxl-12;
    padding: 35px
  }
  &-item2 {
    @extend .col-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12, .col-xxl-12;
    padding: 35px;
    &-content {
      @extend .d-flex;
      &-item1 {
        margin-right: 15px;
      }
      &-item2 {

      }
    }
  }
}
