.raph-products {
  // Main content (products list)
  margin-top: 30px;
  &-top {
    &-container {
      @extend .container;
    }
    &-row {
      @extend .row
    }
    &-content {
      &-left {

        @extend .col-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12, .col-xxl-3;
        &-menu {
          @extend .d-flex, .w-100;
        }
      }
      &-inner {
        @extend .w-100, .h-100;
      }

      &-middle {
        text-align: center;
        @extend .col-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12, .col-xxl-9;
        padding-left: 0;
        &-container {
          @extend .container-fluid;
        }
        &-row {
          @extend .row, .mb-5;
          background-color: white;
        }

        &-content {

          &-left {
            @extend .col-12, .col-sm-12, .col-md-12, .col-lg-4, .col-xl-4, .col-xxl-4;
            padding-left: 0;
          }
          &-inner {
            height: 300px;
            img {
              width: 100%;
              height: 100%;
            }
          }

          &-middle {
            @extend .col-12, .col-sm-12, .col-md-12, .col-lg-8, .col-xl-8, .col-xxl-8, .d-flex, .justify-content-around,  .align-items-center;
            &-inner {
              &-addCart {
                button {
                  @extend .btn, .btn-primary, .btn-sm
                }
              }
              &-product {
                @extend .d-flex, .justify-content-evenly, .flex-column, .h-100;
                .productPrice {
                  font-size: 23px;
                  font-weight: bold;
                }
              }
            }
          }

          &-right {
            @extend .col-12, .col-sm-12, .col-md-12, .col-lg-2, .col-xl-2, .col-xxl-2, .d-flex, .justify-content-center, .align-items-center;
            padding-bottom: 30px;
            &-inner {
              button {
                @extend .btn, .btn-primary, .btn-sm
              }
            }
          }
        }
      }

    }

  }



}
