.raph-cart-container-content-middle-container {
  margin-bottom: 25px;
  border: black 1px solid;
  @extend .container;
  background-color: white;
  &-content {
    @extend .row;
    .responsiveCssImage {
      text-align: center;
    }
    &-left {
      @extend .col-12, .col-sm-12, .col-md-12, .col-lg-5, .col-xl-5, .col-xxl-5;
      padding-left: 0 !important;
      height: 250px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    &-right {
      @extend .col-12, .col-sm-12, .col-md-12, .col-lg-7, .col-xl-7, .col-xxl-7;
      &-container {
        @extend .container, .h-100;
        &-content {
          @extend .row, .h-100;
          padding: 20px;
          //Infos du produit en mode responsive
          .responsiveCssProductInfos {
            @extend .col-12, .col-sm-12, .col-md-12, .col-lg-8, .col-xl-8, .col-xxl-8, .d-flex, .justify-content-evenly, .align-items-center;
            button {
              @extend .btn, .btn-dark
            }
            &-quantite {
              @extend .d-flex, .flex-column, .justify-content-center, .align-items-center;
              label {
                color: black;
                font-weight: normal;
              }
              input {
                width: 50px;
                &:hover, &:focus {
                  color: white;
                  background-color: black;
                }
              }
            }
          }
          //Infos du produit sans le responsive
          &-middle {
            @extend .col-12, .col-sm-12, .col-md-12, .col-lg-8, .col-xl-8, .col-xxl-8, .d-flex, .justify-content-around, .align-items-center, .flex-column;
          }
          &-right {
            @extend .col-12, .col-sm-12, .col-md-12, .col-lg-4, .col-xl-4, .col-xxl-4, .d-flex, .justify-content-around, .align-items-center, .flex-column;
            button {
              @extend .btn, .btn-dark
            }
            &-quantite {
              @extend .d-flex, .flex-column, .justify-content-center, .align-items-center;
              label {
                color: black;
                font-weight: normal;
              }
              input {
                width: 50px;
                &:hover, &:focus {
                  color: white;
                  background-color: black;
                }
              }
            }
          }
        }
      }
    }
  }
}




