<div *ngIf="!_isCartEmpty">
  <div class="raph-cart-container-content-middle-container" *ngFor="let item of _items" >
    <div class="raph-cart-container-content-middle-container-content">
      <!-- image produit dans le panier -->
      <div [ngClass]="{'raph-cart-container-content-middle-container-content-left': !responsiveCss, 'responsiveCssImage': responsiveCss}">
        <img src="/assets/images/{{trimProductName(item['product']['productName'])}}.jpg" alt = '{{item["product"]["productName"]}} image'>
      </div>
      <!-- description produit dans le panier -->
      <div class="raph-cart-container-content-middle-container-content-right">
        <div class="raph-cart-container-content-middle-container-content-right-container">
          <div class="raph-cart-container-content-middle-container-content-right-container-content">
            <!-- Nom du produit et prix -->
            <div [ngClass]="{'raph-cart-container-content-middle-container-content-right-container-content-middle': !responsiveCss, 'responsiveCssProductInfos': responsiveCss}">
              <p>{{item["product"]["productName"]}}</p>
              <p>{{item["product"]["productPrice"]}}€</p>
            </div>
            <!-- bouton pour supprimer un article du panier et ajouter ou retirer des articles -->
            <div [ngClass]="{'raph-cart-container-content-middle-container-content-right-container-content-right': !responsiveCss, 'responsiveCssProductInfos': responsiveCss}">
              <div>
                <button (click)="deleteProductItem(item['product']['productId'], item['product']['productPrice'], item['quantity'])" type="button">
                  <i class="bi bi-trash3-fill"></i>
                </button>
              </div>
              <div class="raph-cart-container-content-middle-container-content-right-container-content-right-quantite">

                <label for="quantiteProduit">Quantité: </label>
                <input  min="1" step="1" type="number" id="quantiteProduit" name="quantiteProduit"  #quantiteProduit [value]="item['quantity']" (change)="updateTotalPriceAndQuantity(item['product']['productId'], item['product']['productPrice'], item['quantity'], Number(quantiteProduit.value))">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

