 <div class="raph-commandes-container-content" *ngFor="let order of listeCommandes, index as i">
   <div class="raph-commandes-container-content-item1">
     <p>Commande #{{order["orderId"]}}</p>
     <p>Date de la commande: {{order["orderDate"]}}</p>
     <p>Prix total de la commande: {{order["orderPrice"]}}€</p>
     <p>Quantité totale: {{order["orderQuantity"]}}</p>
     <button type="button" (click)="showOrderItems(order['orderId'], i)" #boutonContenuCommande>Afficher le contenu de la commande</button>
     <div style="display: none" class="contenucommande" #contenuCommande>
       <div class="contenucommande-content" *ngFor="let orderItems of anOrderItems">
         <div class="contenucommande-content-image">
           <img class="object-fit-cover img-fluid" src='/assets/images/{{trimString(orderItems["product"]["productName"])}}.jpg' alt = '{{orderItems["product"]["productName"]}} image'>
         </div>
         <div class="contenucommande-content-info">
           <p>{{orderItems["quantity"]}} {{orderItems["product"]["productName"]}}</p>
           <p>Prix unitaire: {{orderItems["product"]["productPrice"]}}€</p>
         </div>
       </div>
     </div>
   </div>
   <hr>
 </div>


