<nav class="raph-navbar" aria-label="Main navigation">
    <div class="raph-navbar-container">
      <a class="raph-navbar-brand" href="/">
        <img src="/assets/images/RAPH-INFO-LOGO.png">
      </a>
      <button class="raph-navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Main navigation">
        <span class="raph-navbar-toggler-icon"></span>
      </button>

      <div class="raph-navbar-collapse collapse" id="main-nav">
        <ul class="raph-navbar-nav-right">
          <li class="nav-item">
            <form class="raph-navbar-collapse-form" role="search" action="">
              <input (click)="alertNouveautes()" type="search" placeholder="Cherchez des produits" aria-label="Search">
              <button type="submit">
                <i class="bi bi-search"></i>
              </button>
            </form>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/']" class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Accueil <i class="bi bi-house"></i></a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/listeProduits']" class="nav-link" [routerLinkActive]="['active']" aria-current="page">Produits <i class="bi bi-shop"></i></a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/panier']" class="nav-link" [routerLinkActive]="['active']" aria-current="page">Panier
              <i class="bi bi-cart">
                <!--<span *ngIf="cartQuantity > 0" class="cartQuantity">
                  {{cartQuantity}}
                </span>-->
              </i></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Compte <i class="bi bi-person"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="['/mon-compte']">Mon compte</a></li>
              <!--<li><a class="dropdown-item" [routerLink]="['/connexion']">Connexion</a></li>-->
              <li *ngIf="isConnected"><a class="dropdown-item" (click)="logout()">Déconnexion</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>









