main {
  min-height: 1014px;
}

body {
  //font-family: 'Roboto', sans-serif;
  //font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #292929;
  background-color: #f2f2f3;
}
h1,h2,h3 {
  font-family: 'Lobster', cursive;
  font-weight: 400;
  color: $primary
}

h4,h5,h6 {
   font-family: 'Lobster';
   font-weight: 150;
   color: $black
 }

hr {
  border-top: none;
  margin: 15px auto auto auto;
  display: block;
  height: 4px;
  background-color: $yellow-700;
  opacity: 1;
  max-width: 100px;
}


@include media-breakpoint-down(xxl) {
  #product-aside-list {
    display: flex;
  }
}







