<!-- Carousel -->

<div class="raph-home-carrousel slide">
  <div class="raph-home-carrousel-container">

    <div class="raph-home-carrousel-container-row1">
      <div class="raph-home-carrousel-container-row1-content">
        <p>Voici les catégories de produits que nous proposons.</p>
      </div>
    </div>

    <div id="carousel-home-page" class="carousel slide mt-5"  data-bs-ride="carousel">

      <!-- Indicators/dots !-->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel-home-page" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#carousel-home-page" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carousel-home-page" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#carousel-home-page" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#carousel-home-page" data-bs-slide-to="4"></button>
        <button type="button" data-bs-target="#carousel-home-page" data-bs-slide-to="5"></button>
      </div>

      <!-- The slideshow/carousel !-->
      <div class="carousel-inner">
        <div class="carousel-item">
          <img class="img-fluid d-block" src="assets/images/catTel.jfif" alt="Los Angeles">
          <div class="carousel-caption">
            <h3>Chicago</h3>
            <p>Thank you, Chicago!</p>
          </div>
        </div>

        <div class="carousel-item">
          <img class="img-fluid d-block" src="assets/images/catTel.jfif" alt="Los Angeles">
          <div class="carousel-caption">
            <h3>Chicago</h3>
            <p>Thank you, Chicago!</p>
          </div>
        </div>

        <div class="carousel-item">
          <img class="img-fluid d-block" src="assets/images/catTel.jfif" alt="Los Angeles">
          <div class="carousel-caption">
            <h3>Chicago</h3>
            <p>Thank you, Chicago!</p>
          </div>
        </div>

        <div class="carousel-item">
          <img class="img-fluid d-block" src="assets/images/catTel.jfif" alt="Los Angeles">
          <div class="carousel-caption">
            <h3>Chicago</h3>
            <p>Thank you, Chicago!</p>
          </div>
        </div>

        <div class="carousel-item">
          <img class="img-fluid d-block" src="assets/images/catTel.jfif" alt="Los Angeles" >
          <div class="carousel-caption">
            <h3>Chicago</h3>
            <p>Thank you, Chicago!</p>
          </div>
        </div>

        <div class="carousel-item">
          <img class="img-fluid d-block" src="assets/images/catTel.jfif" alt="Los Angeles" >
          <div class="carousel-caption">
            <h3>Chicago</h3>
            <p>Thank you, Chicago!</p>
          </div>
        </div>

      </div>

      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel-home-page" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel-home-page" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </div>
</div>





