<div class="raph-moncompte-informations-container-content">
  <div class="raph-moncompte-informations-container-content-item1">
    <p>Prénom: {{informationsUserConnected["given_name"]}}</p>
    <p>Nom: {{informationsUserConnected["family_name"]}}</p>
    <p>Adresse-mail: {{informationsUserConnected["email"]}}</p>
    <p>Pseudo: {{informationsUserConnected["nickname"]}}</p>
    <p>Date de naissance: 02/02/2001</p>
    <p>Inscrit depuis le 15/06/2023</p>
  </div>
  <hr>
  <div class="raph-moncompte-informations-container-content-item2">
    <div class="raph-moncompte-informations-container-content-item2-content">
      <div class="raph-moncompte-informations-container-content-item2-content-item1">
        <p>Adresse:</p>
      </div>
      <div class="raph-moncompte-informations-container-content-item2-content-item2">
        <p>10 rue Andre Restes</p>
        <p>31140</p>
        <p>Aucamville</p>
        <p>Toulouse</p>
      </div>
    </div>
  </div>
</div>
